<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Coach蔻驰--520</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" href="../app/css/style.css"/>
    <!-- endinject -->

    <!-- inject:js -->
    <script type="text/javascript" src="../app/js/lib/zepto.min.js"></script>
    <script type="text/javascript" src="../app/js/lib/pre-loader.js"></script>
    <script type="text/javascript" src="../app/js/rem.js"></script>
    <script type="text/javascript" src="../app/js/api.js"></script>
    <script type="text/javascript" src="../app/js/common.js"></script>
    <script type="text/javascript" src="../app/js/controller.js"></script>
    <!-- endinject -->
</head>
<body>
<div class="preloading">
    <div class="inner">
        <div class="l-logo">
            <img src="../app/images/loading-logo.png" alt=""/>
        </div>
        <div class="icon-loading">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <p class="des-loading">
            目前涌入的小伙伴过多<br>
            页面正在跳转中，请耐心等待。
        </p>
    </div>
</div>
<div class="wrapper">
    <section class="pin pin-1 current">
        <div class="pin-inner">
            <ul class="conversation-list">
                <li class="item item-left">
                    <div class="avatar">
                        <img src="../app/images/loading-logo.png" alt=""/>
                    </div>
                    <div class="words">
                        520马上就要到了哟 520马上就要到了哟
                    </div>
                </li>
                <li class="item item-right">
                    <div class="avatar">
                        <img src="../app/images/loading-logo.png" alt=""/>
                    </div>
                    <div class="words">
                        520马上就要到了哟520马上就要到了哟520马上就要到了哟520马上就要到了哟520马上就要到了哟520马上就要到了哟
                    </div>
                </li>
            </ul>
        </div>
        <div class="block-input">
            <input type="text" id="input-tocoach"/>
        </div>
    </section>
</div>
</body>
</html>